  
<div class="container">  
	 <div class="well well-sm">
        <strong>Milestone Video Streaming</strong>        
    </div>
  
   	<iframe width="1140" height="900" src="http://localhost:9080/DemoApp/videostream.html">
  		<p>Your browser does not support iframes.</p>
	</iframe>
   	
   	<div *ngIf="show"> 	   
	<div id ="modal" class="overlay">
    	<div class="center">
        	<img alt="" src="../../ajax-loader.gif" />
    	</div>
	</div>
	</div>
	
</div>
  
               	
         
  
